$gray: #808080;
$border: 3px solid black;

body {
  background: $gray;
}

.box {
  background-image: url('/../scss/Image.jpg');
  background-size: cover;
  border: $border;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .link {
    color: purple;
  }
}

.showResult {
  background-color: #B5B3AD;
  padding: 10px;
}

.header {
  background-color: #E6E5DF;
  padding-left: 5px;
  border: $border;
  margin-top: 5px;
  text-align: center;
}
